.ml-editor-view-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ml-editor-view-layout-main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ml-editor-view-header {
  z-index: 2;
  box-shadow: 0 -1px 5px rgba(0,0,0,.24);
}

.ml-editor-view-layout-columns {
  display: flex;
  flex: 1;
}

.ml-editor-view-editor-wrapper {
  flex: 1;
  position: relative;
}

ml-panel {
  width: 350px;
  box-shadow: 0 0 5px rgba(0,0,0,.24);
}

md-sidenav {
  width: 350px;
  box-shadow: 0 0 8px rgba(0,0,0,.24);
}

md-sidenav-container {
  display: flex;
  flex: 1;
}

.ml-lab-description {
  padding: 1.2em 2em;
  margin: 0;
  font-size: 0.9em;
  line-height: 1.2em;
}

ml-tag-list { padding: 0em 2em 2em; }

