:host {
  display: block;
  height: 100%;
}

md-sidenav {
  width: 350px;
  box-shadow: 0 0 8px rgba(0,0,0,.24);
}

md-sidenav-container { height: 100% }

.ml-lab-description {
  padding: 1.2em 2em;
  margin: 0;
  font-size: 0.9em;
  line-height: 1.2em;
}

ml-tag-list { padding: 0em 2em 2em; }

.ml-footer {
  height: 48px;
  width: 100%;
  padding: 4px;
  font-size:  0.8em;
  box-shadow: 0 -1px 5px rgba(0,0,0,.24);
  z-index: 2;
}

.ml-footer__status {
  width: 500px;
  height: 20px;
  margin-right: 12em;
}

.elevated {
  background-color: #2196f3;
  color : white;
  line-height: 12px;
  height: 22px;
  vertical-align: middle;
  margin: 10px;
  min-width : 60px;
}

.mat-slide-toggle {
  margin-right: 20px;
}
