<div class="ml-editor-view-layout">
  <div class="ml-editor-view-header">
    <ml-editor-toolbar
      [lab]="lab"
      [context]="context"
      (action)="toolbarAction($event)"
      ></ml-editor-toolbar>
    <nav md-tab-nav-bar class="ml-editor-view-nav-bar">

      <a routerLink="."
         queryParamsHandling="merge"
         md-tab-link
         (click)="selectedTab = TabIndex.Editor"
         [active]="selectedTab == TabIndex.Editor">Editor</a>

      <a routerLink="."
         queryParamsHandling="merge"
         md-tab-link
         (click)="selectedTab = TabIndex.Console"
         [active]="selectedTab == TabIndex.Console">Console</a>

      <ng-container *ngIf="user | async as user">
        <a *ngIf="userService.userOwnsLab(user, lab)"
           queryParamsHandling="merge"
           routerLink="."
           md-tab-link (click)="selectedTab = TabIndex.Settings"
           [active]="selectedTab == TabIndex.Settings">Settings</a>
      </ng-container>
    </nav>
  </div>
  <div class="ml-editor-view-layout-main">
    <md-sidenav-container>
      <div class="ml-editor-view-layout-columns" [class.hidden]="selectedTab != TabIndex.Editor">
        <ml-panel panelTitle="Files">
          <ml-file-tree
            [files]="lab.directory"
            [selectedFile]="activeFile"
            (selectFile)="openFile($event)"
            (removeFile)="deleteFile($event)"
            (editFile)="openFileNameDialog($event)"
            (addFile)="openFileNameDialog()"></ml-file-tree>
          <ml-panel-title>Description</ml-panel-title>
          <p class="ml-lab-description">{{lab.description}}</p>
          <ml-panel-title>Tags</ml-panel-title>
          <ml-tag-list [tags]="lab.tags"></ml-tag-list>
        </ml-panel>
        <div class="ml-editor-view-editor-wrapper">
          <ml-ace-editor
            #editor
            [(value)]="activeFile.content"
            mode="python"></ml-ace-editor>
        </div>
      </div>
      <ml-ace-editor
        #outputPanel
        [value]="output | async"
        [readOnly]="true"
        theme="terminal"
        [class.hidden]="selectedTab != TabIndex.Console"
        mode="sh"></ml-ace-editor>
        <ml-lab-settings
          [lab]="lab"
          [class.hidden]="selectedTab != TabIndex.Settings"></ml-lab-settings>
      <md-sidenav
          (open)="sidebarToggled = true"
          (close)="sidebarToggled = false"
          mode="side"
          align="end"
          #executionMetadataSidebar
          class="ml-sidebar"
          >
        <ml-execution-metadata [execution]="context.execution$"></ml-execution-metadata>
      </md-sidenav>
    </md-sidenav-container>
  </div>
  <ml-footer
    [executionContext]="context"
    [slideToggleChecked]="sidebarToggled"
    (slideToggleClick)="executionMetadataSidebar.toggle()"
    ></ml-footer>
</div>
