<div fxLayout="column" style="height: 100%;">
  <ml-editor-toolbar
    [lab]="lab"
    [context]="context"
    (action)="toolbarAction($event)"
    ></ml-editor-toolbar>
  <md-sidenav-container>
    <div>
      <md-tab-group>
        <md-tab label="Editor">
          <md-sidenav-container>
            <md-sidenav opened="true" mode="side" class="ml-sidebar">
              <ml-panel panelTitle="Files">
                <ml-file-tree
                  [files]="lab.files"
                  [selectedFile]="activeFile"
                  (selectFile)="openFile($event)"
                  (removeFile)="deleteFile($event)"
                  (editFile)="openFileNameDialog($event)"
                  (addFile)="openFileNameDialog()"></ml-file-tree>
                <ml-panel-title>Description</ml-panel-title>
                <p class="ml-lab-description">{{lab.description}}</p>
                <ml-panel-title>Tags</ml-panel-title>
                <ml-tag-list [tags]="lab.tags"></ml-tag-list>
              </ml-panel>
            </md-sidenav>
            <div role="main">
              <ml-panel>
                <ml-ace-editor
                  #editor
                  [(value)]="activeFile.content"
                  mode="python"></ml-ace-editor>
              </ml-panel>
            </div>
          </md-sidenav-container>
        </md-tab>
        <md-tab label="Console">
          <ml-ace-editor
            #outputPanel
            [value]="output | async"
            [readOnly]="true"
            theme="terminal"
            mode="sh"></ml-ace-editor>
        </md-tab>
      </md-tab-group>
    </div>
    <md-sidenav
        (open)="sidebarToggled = true"
        (close)="sidebarToggled = false"
        mode="side"
        align="end"
        #executionMetadataSidebar
        class="ml-sidebar"
        >
      <ml-execution-metadata [execution]="context.execution$"></ml-execution-metadata>
    </md-sidenav>
  </md-sidenav-container>
  <ml-footer
    [executionContext]="context"
    [slideToggleChecked]="sidebarToggled"
    (slideToggleClick)="executionMetadataSidebar.toggle()"
    ></ml-footer>
</div>
