:host {
  display: block;
  height: 100%;
}

md-sidenav {
  width: 350px;
  box-shadow: 0 0 8px rgba(0,0,0,.24);
}

md-sidenav-container { height: 100% }

.ml-lab-description {
  padding: 1.2em 2em;
  margin: 0;
  font-size: 0.9em;
  line-height: 1.2em;
}

ml-tag-list { padding: 0em 2em 2em; }

