<div class="ml-editor-view-layout">
  <div class="ml-editor-view-header">
    <ml-editor-toolbar
      [lab]="lab"
      (action)="toolbarAction($event)"
      ></ml-editor-toolbar>
    <nav md-tab-nav-bar class="ml-editor-view-nav-bar">

      <a routerLink="."
         queryParamsHandling="merge"
         md-tab-link
         (click)="selectTab(TabIndex.Editor)"
         [active]="selectedTab == TabIndex.Editor">Editor</a>

      <a routerLink="."
         queryParamsHandling="merge"
         md-tab-link
         (click)="selectTab(TabIndex.Console)"
         [active]="selectedTab == TabIndex.Console">Console</a>
    </nav>
  </div>
  <div class="ml-editor-view-layout-main">
    <md-sidenav-container>
      <div class="ml-editor-view-layout-columns" [class.hidden]="selectedTab != TabIndex.Editor">
        <ml-panel panelTitle="Files">
          <ml-file-tree
            [files]="lab.directory"
            [selectedFile]="activeFile"
            (selectFile)="openFile($event)"
            (removeFile)="deleteFile($event)"
            (editFile)="openFileNameDialog($event)"
            (addFile)="openFileNameDialog()"></ml-file-tree>
        </ml-panel>
        <div class="ml-editor-view-editor-wrapper">
          <ml-ace-editor
            #editor
            [(value)]="activeFile.content"
            mode="python"
            [class.active]="selectedTab == TabIndex.Editor"></ml-ace-editor>
        </div>
      </div>
      <ml-ace-editor
        #outputPanel
        [value]="output | async"
        [readOnly]="true"
        theme="terminal"
        [class.hidden]="selectedTab != TabIndex.Console"
        [class.active]="selectedTab == TabIndex.Console"
        mode="sh"></ml-ace-editor>
      <md-sidenav
          (open)="sidebarToggled = true"
          (close)="sidebarToggled = false"
          mode="side"
          align="end"
          #executionMetadataSidebar
          class="ml-sidebar"
          >
        <ng-container *ngIf="executions | async as executions; else noExecutionMessage">
          <ml-execution-list
            [executions]="executions"
            [activeId]="activeExecutionId"
            (restart)="run($event.lab)"
            (view)="listenAndUpdateUrl($event)"
            ></ml-execution-list>
        </ng-container>

        <ng-template #noExecutionMessage>
          <div class="ml-execution-metadata-no-execution-message">
            <md-icon class="ml-execution-metadata-no-execution-message-icon">info_outline</md-icon>
            <h4 class="ml-execution-metadata-no-execution-message-headline">No information available</h4>
            <p class="ml-execution-metadata-no-execution-message-text">Execute your lab and its execution data will show up here.</p>
          </div>
        </ng-template>
      </md-sidenav>
    </md-sidenav-container>
  </div>
  <ml-footer
    [execution]="execution"
    [slideToggleChecked]="sidebarToggled"
    (slideToggleClick)="executionMetadataSidebar.toggle()"
    ></ml-footer>
</div>
