<ml-dialog-header>Request <strong>your beta invite</strong></ml-dialog-header>
<ml-dialog-content>
  <p>Hoppla, looks like you aren't part of our <strong>private beta</strong> yet!</p>
  <p>Without an invite you can only view existing executions. To run your own experiments you have to request an invite.</p>
</ml-dialog-content>
<ml-dialog-cta-bar>
  <a md-button href="http://get.machinelabs.ai" title="Request an invite for our private beta!" target="_blank"><md-icon>send</md-icon> Request invite</a>
</ml-dialog-cta-bar>
