$phablet-width: 524px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phablet {
  @media (min-width: #{$phablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

