@import '../node_modules/@angular/material/theming';

@import 'app/shared/dialog/dialog-theme.scss';
@import 'app/editor/layout/editor-layout-theme.scss';
@import 'app/editor/file-list/file-list-theme.scss';
@import 'app/lab-editor/editor-view/editor-view-theme.scss';
@import 'app/lab-editor/editor-footer/editor-footer-theme.scss';
@import 'app/lab-editor/execution-status/execution-status-theme.scss';
@import 'app/lab-editor/execution-list/execution-list-theme.scss';
@import 'app/lab-editor/panel/panel-theme.scss';
@import 'app/user-profile/user-profile-theme.scss';
@import 'app/user-profile/edit-user-profile-dialog/edit-user-profile-dialog-theme.scss';

@include mat-core();

$ml-app-primary: mat-palette($mat-light-blue);
$ml-app-accent: mat-palette($mat-orange, A200, A100, A400);

$ml-app-warn: mat-palette($mat-red);

$ml-app-theme: mat-light-theme($ml-app-primary, $ml-app-accent, $ml-app-warn);

@mixin machine-labs-theme($theme) {
  @include ml-editor-layout-theme($theme);
  @include ml-editor-view-theme($theme);
  @include ml-editor-footer-theme($theme);
  @include ml-execution-status-theme($theme);
  @include ml-execution-list-theme($theme);
  @include ml-dialog-theme($theme);
  @include ml-panel-theme($theme);
  @include ml-file-list-theme($theme);
  @include ml-user-profile-theme($theme);
  @include ml-edit-user-profile-dialog-theme($theme);
}

@include angular-material-theme($ml-app-theme);
@include machine-labs-theme($ml-app-theme);

