@import '../node_modules/@angular/material/theming';

@import 'app/shared/dialog/dialog-theme.scss';
@import 'app/shared/page-footer/page-footer-theme.scss';
@import 'app/toolbar/toolbar-menu/toolbar-menu-theme.scss';
@import 'app/toolbar/toolbar-navigation/toolbar-navigation-theme.scss';
@import 'app/editor/layout/editor-layout-theme.scss';
@import 'app/editor/file-tree/file-tree-theme.scss';
@import 'app/lab-editor/editor-view/editor-view-theme.scss';
@import 'app/lab-editor/editor-footer/editor-footer-theme.scss';
@import 'app/lab-editor/execution-status/execution-status-theme.scss';
@import 'app/lab-editor/execution-list/execution-list-theme.scss';
@import 'app/lab-editor/panel/panel-theme.scss';
@import 'app/user-profile/user-profile-theme.scss';
@import 'app/user-profile/edit-user-profile-dialog/edit-user-profile-dialog-theme.scss';
@import 'app/landing-page/landing-page-theme.scss';
@import 'app/explore/execution-card/execution-card-theme.scss';
@import 'app/explore/explore-labs/explore-labs-theme.scss';
@import 'app/explore/lab-card/lab-card-theme.scss';
@import 'app/handshake/handshake-theme.scss';

@include mat-core();

$ml-app-primary: mat-palette($mat-light-blue);
$ml-app-accent: mat-palette($mat-orange, A200, A100, A400);

$ml-app-warn: mat-palette($mat-red);

$ml-app-theme: mat-light-theme($ml-app-primary, $ml-app-accent, $ml-app-warn);

@mixin machine-labs-theme($theme) {
  @include ml-toolbar-menu-theme($theme);
  @include ml-toolbar-navigation-theme($theme);
  @include ml-editor-layout-theme($theme);
  @include ml-editor-view-theme($theme);
  @include ml-editor-footer-theme($theme);
  @include ml-execution-status-theme($theme);
  @include ml-execution-list-theme($theme);
  @include ml-dialog-theme($theme);
  @include ml-panel-theme($theme);
  @include ml-file-tree-theme($theme);
  @include ml-user-profile-theme($theme);
  @include ml-edit-user-profile-dialog-theme($theme);
  @include ml-explore-view-theme($theme);
  @include ml-execution-card-theme($theme);
  @include ml-lab-card-theme($theme);
  @include ml-landing-page-theme($theme);
  @include ml-handshake-theme($theme);
  @include ml-page-footer-theme($theme);
}

@include angular-material-theme($ml-app-theme);
@include machine-labs-theme($ml-app-theme);

