@import './ml-theme';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  border: none;
  vertical-align: middle;
}

.ace_gutter {
  // we actually don't want to use !important
  // here but the only alternative is to make
  // the selector more specific by adding the
  // theme class e.g. `.ace-github .ace_cutter`
  background-color: transparent!important;
}

.ace-terminal-theme .ace_invalid { background-color: transparent!important; }

.hidden {
  display: none!important;
}

ml-editor-view,
ml-embedded-editor-view {
  .mat-drawer-content {
    display: flex;
    flex: 1;
  }
}

.monaco-aria-container {
  display: none;
}

.ml-no-information-message {
  text-align: center;
}

.ml-no-information-message-icon {
  font-size: 7em;
  height: initial!important;
  width: initial!important;
  margin-bottom: 0.2em;
}

.ml-no-information-message-headline {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.ml-no-information-message-text {
  line-height: 1.4;
}
