sudo: required
language: node_js
dist: trusty

notifications:
  email: false

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
matrix:
  include:
    - stage: "server"
      node_js: "8"
      before_install:
        - (cd ./shared && node build.js --install)
        # Those ENVs are just needed for the build to compile. Not need for real values.
        - export MACHINELABS_FB_PRIVATE_KEY=KEEP_MY_PRIVACY
        - export MACHINELABS_FB_CLIENT_EMAIL=KEEP_MY_PRIVACY
        - cd ./server
        - npm install -g yarn typescript
      script: npm run ci
    - stage: "firebase functions"
      node_js: "8"
      before_install:
        - cd ./firebase/functions
        - npm install -g yarn typescript
      script: npm run test
    - stage: "@machinelabs/core"
      node_js: "8"
      before_install:
        - (cd ./shared && node build.js --install)
        - cd ./shared/core
        - npm install -g yarn typescript
      script: npm run ci
    - stage: "@machinelabs/metrics"
      node_js: "8"
      before_install:
        - (cd ./shared && node build.js --install)
        - cd ./shared/metrics
        - npm install -g yarn typescript
      script: npm run ci
    - stage: "client"
      node_js: "8"
      before_install:
        - (cd ./shared && node build.js --install)
        - cd ./client
        - export CHROME_BIN=chromium-browser
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
        - npm install -g yarn@1.0.0 typescript
      before_script:
        - npm install -g @angular/cli
    - stage: "client"
      node_js: "8"
      before_install:
        - (cd ./shared && node build.js --install)
        - cd ./client
        - export CHROME_BIN=chromium-browser
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
        - npm install -g yarn@1.0.0 typescript
      before_script:
        - npm install -g @angular/cli
      script: npm run test:e2e:production
      
      






