<ul class="ml-file-list">
  <li
    class="ml-file-list-item"
    *ngFor="let fileOrDirectory of directory.contents"
    (click)="selectFile($event, fileOrDirectory)">

    <ml-zippy [collapsed]="fileOrDirectory.clientState.collapsed" [collapsable]="fileOrDirectory.contents">
      <div class="ml-file-list-item-title" ml-zippy-title [ngClass]="{ selected: fileOrDirectory.clientState?.selected }">
        <ng-template #fileListItemName>
          <md-icon>description</md-icon> {{fileOrDirectory.name}}

          <div class="ml-file-list-item__action-buttons" *ngIf="showActionButtons">
            <button class="ml-file-list-item-button edit"
              mdTooltip="Change filename"
              mdTooltipPosition="below"
              *ngIf="isEditable(fileOrDirectory)"
              (click)="openEditFileNameDialog($event, directory, fileOrDirectory)">
                <md-icon>create</md-icon>
            </button>

            <button class="ml-file-list-item-button delete"
              *ngIf="isRemovable(fileOrDirectory)"
              mdTooltip="Delete file"
              mdTooltipPosition="below"
              (click)="deleteFileOrDirectory($event, fileOrDirectory)">
                <md-icon>highlight_off</md-icon>
            </button>
          </div>
        </ng-template>

        <ng-container *ngIf="fileOrDirectory.contents; else: fileListItemName;">
          {{fileOrDirectory.name}}

          <div class="ml-file-list-item__action-buttons">
            <button
              class="ml-file-list-item-button add"
              (click)="openAddFileNameDialog($event, fileOrDirectory)"
              mdTooltip="Add file"
              mdTooltipPosition="below">
                <md-icon>note_add</md-icon>
            </button>
            <button
              class="ml-file-list-item-button add-folder"
              (click)="openAddFolderNameDialog($event, fileOrDirectory)"
              mdTooltip="Add folder"
              mdTooltipPosition="below">
                <md-icon>create_new_folder</md-icon>
            </button>
            <button
              class="ml-file-list-item-button edit"
              (click)="openEditFolderNameDialog($event, directory, fileOrDirectory)"
              mdTooltip="Edit folder"
              mdTooltipPosition="below">
                <md-icon>create</md-icon>
            </button>
            <button
              class="ml-file-list-item-button delete"
              (click)="deleteFileOrDirectory($event, fileOrDirectory)"
              mdTooltip="Delete folder"
              mdTooltipPosition="below">
                <md-icon>highlight_off</md-icon>
            </button>
          </div>
        </ng-container>
      </div>
      <div ml-zippy-content>
        <ml-file-list
          [directory]="fileOrDirectory"
          *ngIf="fileOrDirectory.contents"
          [showActionButtons]="showActionButtons">
        </ml-file-list>
      </div>
    </ml-zippy>
  </li>
</ul>

