<button md-icon-button [md-menu-trigger-for]="menu">
  <md-icon *ngIf="user?.isAnonymous">more_vert</md-icon>
  <img *ngIf="user && user.photoUrl" [src]="user.photoUrl" alt="{{user.displayName}} profile picture" class="ml-login-avatar">
</button>

<md-menu #menu="mdMenu">
  <button md-menu-item *ngIf="user?.isAnonymous" (click)="loginWithGitHub()"><md-icon>perm_identity</md-icon>Login with GitHub</button>
  <button *ngIf="!user?.isAnonymous" (click)="logout()" md-menu-item><md-icon>exit_to_app</md-icon>Sign Out</button>
</md-menu>

