<div fxLayout>
  <div fxFlex [ngSwitch]="executionContext.execution.status">
    <span *ngSwitchCase="ExecutionStatus.Executing" class="ml-status-message">Running...</span>
    <span *ngSwitchCase="ExecutionStatus.Finished" class="ml-status-message done"><md-icon>done</md-icon> Done</span>
    <span *ngSwitchCase="ExecutionStatus.Stopped" class="ml-status-message stopped"><md-icon>info</md-icon> Stopped</span>
    <span *ngSwitchCase="ExecutionStatus.Failed" class="ml-status-message errored"><md-icon>highlight_off</md-icon> Errored</span>
  </div>
  <div fxFlex>
    <md-progress-bar
      *ngIf="executionContext.isRunning()"
      color="accent"
      [bufferValue]="0"
      mode="indeterminate"></md-progress-bar>
  </div>
</div>

