.ml-status-message {
  display: inline-block;
  line-height: 1.5em;
  font-weight: 600;

  md-icon {
    font-size: 1.3em;
    vertical-align: -20%;
    height: 15px;
    width: 15px;
    font-weight: bold;
  }

  &.done {
    md-icon { color: #39aa56; }
  }
  &.stopped {
    md-icon { color: #888; }
  }
  &.errored {
    md-icon { color: #db4545; }
  }
}

md-progress-bar {
  height: 3px;
  margin-top: 0.7em;
}


