<mat-card>
  <mat-card-content>
    <ng-container *ngIf="executionId; else noOutputMessage">
      <header>
        <h3 mat-subheader>Output Files</h3>
        <div class="spinner-wrapper">
          <div class="spinner">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
          </div>
          <span>REALTIME</span>
        </div>
      </header>
      <ml-file-outputs-table [outputFiles]="outputFiles$ | async" (preview)="openPreview($event)" (copyDone)="showClipboardToast()">
      </ml-file-outputs-table>
    </ng-container>
    <ng-template #noOutputMessage>
      <div class="ml-no-information-message">
        <mat-icon class="ml-no-information-message-icon">info_outline</mat-icon>
        <h4 class="ml-no-information-message-headline">No outputs available</h4>
        <p class="ml-no-information-message-text">Select an execution that has generated output files.</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>