<ml-file-preview-dialog-toolbar *ngIf="!loading">
  <ng-container left>
    <button md-icon-button (click)="dialogRef.close()">
      <md-icon class="back">keyboard_arrow_left</md-icon>
    </button>
    <md-icon>description</md-icon>
    <span>{{ outputFile.name }}</span>
  </ng-container>
  <ng-container right>
    <a md-icon-button [attr.download]="outputFile.name" target="_blank" [href]="outputFile.download_url"
      title="Download file">
      <md-icon>file_download</md-icon>
    </a>
  </ng-container>
</ml-file-preview-dialog-toolbar>

<ml-dialog-content
  [@slideContent]="animationState"
  (@slideContent.start)="onAnimationStart($event)"
  (@slideContent.done)="onAnimationDone($event)">

  <md-spinner mode="indeterminate" *ngIf="loading && !error"></md-spinner>
  <img [@fade]="loading ? 'fadeOut' : 'fadeIn'" #image [src]="outputFile.download_url"
    (load)="onLoad($event)" (error)="onError($event)" alt="Output file">

  <ml-dialog-error *ngIf="error">
    <md-icon>error_outline</md-icon>
    Bummer! An error occured while loading the image.
  </ml-dialog-error>
</ml-dialog-content>