<ml-toolbar>
  <ml-toolbar-logo></ml-toolbar-logo>
  <ml-toolbar-content>
    <div class="ml-toolbar-lab-info">
      <span [mdTooltip]="lab.name" class="ml-toolbar-lab-name">{{lab.name | words: 10}}</span>

      <ng-container *ngIf="userService.userOwnsLab(user, lab); else userInfo">
        <button
          md-icon-button
          type="button"
          (click)="emitAction(EditorToolbarActionTypes.Edit, lab)"
          class="ml-toolbar-edit-button">
          <md-icon>settings</md-icon>
        </button>
      </ng-container>

      <ng-template #userInfo>
        <span class="ml-toolbar-user-info">
          <ng-container *ngIf="forkedLab && forkOwner">
            forked from <a title="Go to fork" [routerLink]="['/editor', forkedLab.id]">{{forkOwner.displayName + '/' + forkedLab.name | words: 10}}</a>
          </ng-container>

          <ng-container *ngIf="(labOwner | async); else anonymousUser; let user;">
            by <img src="{{user.photoUrl}}" alt="User profile picture"> <a title="{{user.displayName}}'s profile" [routerLink]="['/user', user.id]">{{user.displayName}}</a>
          </ng-container>
        </span>
      </ng-template>

      <ng-template #anonymousUser>
        by <md-icon>account_circle</md-icon> anonymous user
      </ng-template>
    </div>
  </ml-toolbar-content>

  <ml-toolbar-cta-bar>
    <ng-container *ngIf="userService.userOwnsLab(user, lab); else forkAndRunButton">
      <button md-button (click)="emitAction(EditorToolbarActionTypes.Run, lab)"><md-icon>play_arrow</md-icon> Run</button>
    </ng-container>
    <ng-template #forkAndRunButton>
      <button md-button (click)="emitAction(EditorToolbarActionTypes.ForkAndRun, lab)"><md-icon>play_arrow</md-icon> Fork & Run</button>
    </ng-template>
    <button md-button (click)="emitAction(EditorToolbarActionTypes.Save, lab)" *ngIf="userService.userOwnsLab(user, lab)"><md-icon>save</md-icon> Save</button>
    <button md-button (click)="emitAction(EditorToolbarActionTypes.Fork, lab)"><md-icon>share</md-icon> Fork</button>
    <button md-button [md-menu-trigger-for]="menu"><md-icon>keyboard_arrow_down</md-icon> New</button>

    <md-menu #menu="mdMenu" [overlapTrigger]="false" xPosition="before">
      <button md-menu-item (click)="emitAction(EditorToolbarActionTypes.Create, 'blank')">Blank Lab</button>
      <button md-menu-item (click)="emitAction(EditorToolbarActionTypes.Create, 'mnist')">MNIST Template</button>
    </md-menu>
  </ml-toolbar-cta-bar>
  <ml-toolbar-menu></ml-toolbar-menu>

</ml-toolbar>
