:host { z-index: 1; }

ml-toolbar {
  box-shadow: none;
}

.ml-toolbar-lab-info { margin-left: 3.5em; }

.ml-toolbar-lab-name {
  display: inline-block;
  vertical-align: -10%;
  font-size: 1em;
}

.ml-toolbar-edit-button {
  mat-icon {
    font-size: 1.4em;
  }
}

.ml-toolbar-user-info {
  font-size: 0.7em;
  display: block;
  margin-top: -0.5em;

  a {
    color: currentColor;
    text-decoration: none;
    border-bottom: 1px dotted currentColor;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid currentColor;
    }
  }

  img {
    width: 1.4em;
    border-radius: 50%;
  }

  mat-icon {
    font-size: 1.5em;
    width: 1em;
    vertical-align: -30%;
  }
}

