<ml-toolbar>
  <ml-toolbar-logo></ml-toolbar-logo>
  <ml-toolbar-content>
    <div class="ml-toolbar-lab-info">
      <span [mdTooltip]="lab.name" class="ml-toolbar-lab-name">{{lab.name | words: 10}}</span>

      <ng-container *ngIf="userOwnsLab(); else userInfo">
        <button
          md-icon-button
          type="button"
          (click)="emitAction(EditorToolbarActionTypes.Edit, lab)"
          class="ml-toolbar-edit-button">
          <md-icon>edit</md-icon>
        </button>
      </ng-container>

      <ng-template #userInfo>
        <span class="ml-toolbar-user-info">
          <ng-container *ngIf="(labOwner | async); else anonymousUser; let user;">
            by <img src="{{user.photoUrl}}" alt="User profile picture"> <a title="{{user.displayName}}'s profile" [routerLink]="['/user', user.id]">{{user.displayName}}</a>
          </ng-container>
        </span>
      </ng-template>

      <ng-template #anonymousUser>
        created by <md-icon>account_circle</md-icon> anonymous user
      </ng-template>
    </div>
  </ml-toolbar-content>

  <ml-toolbar-cta-bar>
    <button md-button (click)="emitAction(EditorToolbarActionTypes.Run, lab)" *ngIf="context.clientExecutionState != ClientExecutionState.Executing"><md-icon>cached</md-icon> Run</button>
    <button md-button (click)="emitAction(EditorToolbarActionTypes.Stop, context)" *ngIf="context.clientExecutionState == ClientExecutionState.Executing"><md-icon>stop</md-icon> Stop</button>
    <button md-button (click)="emitAction(EditorToolbarActionTypes.Save, lab)" *ngIf="userOwnsLab()"><md-icon>save</md-icon> Save</button>
    <button md-button (click)="emitAction(EditorToolbarActionTypes.Fork, lab)"><md-icon>share</md-icon> Fork</button>
    <button md-button (click)="emitAction(EditorToolbarActionTypes.Create)"><md-icon>add</md-icon> New</button>
  </ml-toolbar-cta-bar>
  <ml-toolbar-menu></ml-toolbar-menu>

</ml-toolbar>
