<div class="ml-editor-footer">
  <div class="ml-editor-footer-layout">
    <div class="ml-editor-footer-cta-bar">
      <button *ngIf="executionId" mat-button mat-raised-button color="primary" class="elevated" (click)="openEmbedDialog()">Embed</button>
     <a href="https://docs.machinelabs.ai" title="MachineLabs Documentation" mat-button class="elevated">Guides & Examples</a>
    </div>
    <div class="ml-editor-footer-content">
      <ml-execution-status [execution]="execution"></ml-execution-status>
    </div>
    <mat-slide-toggle
      color="accent"
      [checked]="slideToggleChecked"
      (click)="slideToggleClick.emit()">Show executions</mat-slide-toggle>
  </div>
</div>
