<ng-container [ngSwitch]="data.type">
  <ml-dialog-header *ngSwitchCase="NameDialogType.AddFile">Add new file</ml-dialog-header>
  <ml-dialog-header *ngSwitchCase="NameDialogType.AddDirectory">Add new directory</ml-dialog-header>
  <ml-dialog-header *ngSwitchCase="NameDialogType.EditFile">Edit file name</ml-dialog-header>
  <ml-dialog-header *ngSwitchCase="NameDialogType.EditDirectory">Edit directory name</ml-dialog-header>
</ng-container>

<form [formGroup]="form" (ngSubmit)="submit(form)">
  <ml-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Enter name" formControlName="filename">
      <mat-hint *ngIf="!form.valid && !form.pristine">
        <ng-container *ngIf="form.get('filename').hasError('required')">
          This field is required.
        </ng-container>
        <ng-container *ngIf="form.get('filename').hasError('alreadyExists')">
          Already exists in this directory.
        </ng-container>
      </mat-hint>
    </mat-form-field>
  </ml-dialog-content>
  <ml-dialog-cta-bar>
    <button mat-button [disabled]="!form.valid" type="submit">Ok</button>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  </ml-dialog-cta-bar>
</form>
