.ml-editor-view-nav-bar {
  z-index: 2;
  box-shadow: 0 -1px 5px rgba(0,0,0,.24);
}

mat-drawer {
  width: 350px;
  box-shadow: 0 0 8px rgba(0,0,0,.24);
}

mat-drawer-container {
  display: flex;
  flex: 1;
}

monaco-editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ml-editor-restore-message {
  position: absolute;
  right: 1em;
  top: 0.5em;
  margin: 0;
  font-size: 0.9em;

  button {
    margin-left: 0.2em;
  }

  mat-icon {
    vertical-align: -30%;
  }
}

.ml-scroll-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1em 2em;
  font-size: 0.9em;

  ::ng-deep .mat-checkbox-frame {
    border-color: #fff;
  }
}

.ml-no-information-message {
  margin-top: 7em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}
