.ml-editor-view-nav-bar {
  z-index: 2;
  box-shadow: 0 -1px 5px rgba(0,0,0,.24);
}

md-drawer {
  width: 350px;
  box-shadow: 0 0 8px rgba(0,0,0,.24);
}

md-drawer-container {
  display: flex;
  flex: 1;
}

.ml-editor-restore-message {
  position: absolute;
  right: 1em;
  top: 0.5em;
  margin: 0;
  font-size: 0.9em;

  button {
    margin-left: 0.2em;
  }

  md-icon {
    vertical-align: -30%;
  }
}

.ml-scroll-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1em 2em;
  font-size: 0.9em;

  ::ng-deep .mat-checkbox-frame {
    border-color: #fff;
  }
}

.ml-execution-metadata-no-execution-message {
  margin-top: 7em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  text-align: center;
}

.ml-execution-metadata-no-execution-message-icon {
  font-size: 7em;
  height: initial;
  width: initial;
  margin-bottom: 0.2em;
}

.ml-execution-metadata-no-execution-message-headline {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.ml-execution-metadata-no-execution-message-text {
  line-height: 1.4;
}
