@import '../../../../node_modules/@angular/material/theming';

@mixin ml-editor-view-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ml-no-information-message {
    color: mat-color($foreground, secondary-text);
  }

  .ml-editor-view-nav-bar {
    background-color: mat-color($background, dialog);
  }
}
