<ml-editor-layout>
  <ml-editor-layout-header>
    <ml-editor-toolbar
      [lab]="lab"
      (action)="toolbarAction($event)"
      ></ml-editor-toolbar>
    <ml-editor-layout-nav-bar>
      <div md-tab-nav-bar class="ml-editor-view-nav-bar">
        <a routerLink="."
          queryParamsHandling="merge"
          mdTabLink
          (click)="selectTab(TabIndex.Editor)"
          [active]="editorService.editorTabActive()">Editor</a>

        <a routerLink="."
          queryParamsHandling="merge"
          mdTabLink
          (click)="selectTab(TabIndex.Console)"
          [active]="editorService.consoleTabActive()">Console</a>

        <a routerLink="."
           queryParamsHandling="merge"
           mdTabLink
           (click)="selectTab(TabIndex.Outputs)"
           [active]="editorService.outputsTabActive()">Outputs</a>

        <p *ngIf="activeExecutionId" class="ml-editor-restore-message"><button md-button color="primary" (click)="restoreLab()"><md-icon>settings_backup_restore</md-icon> Unselect execution</button></p>
      </div>
    </ml-editor-layout-nav-bar>
  </ml-editor-layout-header>
  <ml-editor-layout-main>
    <md-drawer-container>
      <ml-editor-layout-panels>
        <ml-editor-layout-panel [class.hidden]="!editorService.editorTabActive()">
          <ml-editor-layout-panel-cta-bar>
          <button md-icon-button mdTooltip="Toogle file tree" mdTooltipPosition="right" (click)="fileTreeSidebar.toggle()"><md-icon>description</md-icon></button>
        </ml-editor-layout-panel-cta-bar>
          <md-drawer-container>
            <md-drawer mode="side" #fileTreeSidebar>
              <ml-file-tree
                (remove)="editorService.openMainFile()"
                (addFile)="editorService.openFile($event.target, $event.path)"
                (selectFile)="editorService.openFile($event.target, $event.path)"
                [directory]="{ name: '', contents: editorService.lab.directory }"
                [mandatoryFiles]="['main.py', 'ml.yaml']">
              </ml-file-tree>
            </md-drawer>
            <ml-ace-editor
              #editor
              [(value)]="activeFile.content"
              mode="python"
              [class.active]="editorService.editorTabActive()"></ml-ace-editor>
          </md-drawer-container>
        </ml-editor-layout-panel>
        <ml-editor-layout-panel [class.hidden]="!editorService.consoleTabActive()">
          <ml-xterm
            #outputPanel
            [messages]="output"
            [scrollback]="5000"
          ></ml-xterm>
          <div class="ml-scroll-checkbox">
            <button md-button (click)="scrollToBottom()"><md-icon>keyboard_arrow_down</md-icon> Scroll to bottom</button>
            <md-checkbox [formControl]="pauseModeControl">Pause output</md-checkbox>
          </div>
        </ml-editor-layout-panel>
        <ml-editor-layout-panel [class.hidden]="!editorService.outputsTabActive()">
          <ml-file-outputs [executionId]="activeExecutionId"></ml-file-outputs>
        </ml-editor-layout-panel>
      </ml-editor-layout-panels>
      <md-drawer
          (open)="executionMetadataSidebarToggled = true"
          (close)="executionMetadataSidebarToggled = false"
          mode="side"
          align="end"
          #executionMetadataSidebar
          class="ml-sidebar"
          >
        <ng-container *ngIf="executions | async as executions; else noExecutionMessage">
          <ml-execution-list
            [executions]="executions"
            [activeId]="activeExecutionId"
            (restart)="run($event.lab)"
            (view)="listenAndUpdateUrl($event)"
            ></ml-execution-list>
        </ng-container>

        <ng-template #noExecutionMessage>
          <div class="ml-no-information-message">
            <md-icon class="ml-no-information-message-icon">info_outline</md-icon>
            <h4 class="ml-no-information-message-headline">No information available</h4>
            <p class="ml-no-information-message-text">Execute your lab and its execution data will show up here.</p>
          </div>
        </ng-template>
      </md-drawer>
    </md-drawer-container>
  </ml-editor-layout-main>
  <ml-editor-layout-footer>
    <ml-footer
      [execution]="execution"
      [executionId]="activeExecutionId"
      [lab]="lab"
      [slideToggleChecked]="executionMetadataSidebarToggled"
      (slideToggleClick)="executionMetadataSidebar.toggle()"
      ></ml-footer>
  </ml-editor-layout-footer>
</ml-editor-layout>
