<form [formGroup]="form" (ngSubmit)="submit(form.value)" fxLayout="column">
  <md-input-container fxFlex>
    <input mdInput placeholder="Name" formControlName="name">
    <md-hint *ngIf="!form.valid && !form.pristine && form.get('name').errors" align="end">This field is required.</md-hint>
  </md-input-container>
  <md-input-container fxFlex>
    <textarea mdInput placeholder="Description" formControlName="description">
    </textarea>
  </md-input-container>
  <md-input-container fxFlex>
    <input mdInput placeholder="Tags" formControlName="tags">
  </md-input-container>
  <div style="text-align: center;">
    <button md-button [disabled]="!form.valid" type="submit">Save</button>
    <button md-button type="button" (click)="close(form.value, false)">Cancel</button>
  </div>
</form>
