.ml-execution-metadata {
  padding: 0;
  margin: 1.2em;
}

.ml-execution-metadata-headline {
  margin: 0;
  padding: 1em 1.5em;
  line-height: 1;

  md-icon {
    vertical-align: -20%;
    font-size: 22px;
  }
}

.ml-execution-metadata-content {
  padding: 1em 1.5em;

  table {
    width: 100%;
  }

  tr {
    &:first-child {
      td { margin-top: 0; }
    }
    td {
      vertical-align: top;
      margin-top: 0.5em;
      display: inline-block;
      &:first-child {
        width: 35%;
        font-weight: 500;
      }
      &:nth-child(2) {
        width: 65%;
      }
    }
  }

  a {
    text-decoration: none;
    color: currentColor;
    border-bottom: 1px dotted currentColor;
  }
}

.ml-execution-metadata-user-info {
  img {
    width: 1.4em;
    border-radius: 50%;
  }
}

.ml-execution-metadata-no-execution-message {
  margin-top: 7em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  text-align: center;
}

.ml-execution-metadata-no-execution-message-icon {
  font-size: 7em;
  height: initial;
  width: initial;
  margin-bottom: 0.2em;
}

.ml-execution-metadata-no-execution-message-headline {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.ml-execution-metadata-no-execution-message-text {
  line-height: 1.4;
}
