.ml-execution-metadata {
  padding: 0.5em;
  margin: 0.8em;
  margin-top: 1em;
}

.ml-execution-metadata-headline {
  margin: 0;
  padding: 0.5em;
  line-height: 1;

  md-icon {
    vertical-align: -22%;
    font-size: 22px;
    width: initial;
    height: initial;
  }

  md-progress-spinner {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.1em;
    vertical-align: -40%;
  }
}

.ml-execution-metadata-content {
  padding: .5em;

  md-icon {
    font-size: 1.2em;
    width: initial;
    height: initial;
    color: #888;
  }

  time {
    vertical-align: 30%;
    font-size: 0.9em;
  }
}

.ml-execution-metadata-info {
  margin-top: 0.2em;
}

.ml-execution-metadata-cta-bar {
}
