<ng-container *ngIf="execution | async as execution;">
  <div class="ml-execution-metadata"
      *ngIf="execution.status != ExecutionStatus.Pristine; else noExecutionMessage"
      [ngClass]="{
        finished: execution.status == ExecutionStatus.Finished,
        executing: execution.status == ExecutionStatus.Executing,
        stopped: execution.status == ExecutionStatus.Stopped,
        failed: execution.status == ExecutionStatus.Failed,
        selected: execution.id == activeId
      }">
    <h4 class="ml-execution-metadata-headline">
      <ng-container [ngSwitch]="execution.status">
        <md-icon *ngSwitchCase="ExecutionStatus.Finished">done</md-icon>
        <md-progress-spinner
          color="accent"
          *ngSwitchCase="ExecutionStatus.Executing"
          mode="indeterminate"></md-progress-spinner>
        <md-icon *ngSwitchCase="ExecutionStatus.Stopped">info</md-icon>
        <md-icon *ngSwitchCase="ExecutionStatus.Failed">block</md-icon>
      </ng-container>
      #{{ execution.id }}
    </h4>
    <div class="ml-execution-metadata-content">
      <div *ngIf="execution.finished_at" class="ml-execution-metadata-info">
        <md-icon>schedule</md-icon>
        <time [attr.datetime]="execution.finished_at">
          Ran for {{execution.started_at | distanceInWordsStrict: execution.finished_at}}
        </time>
      </div>
      <div class="ml-execution-metadata-info">
        <md-icon>update</md-icon>
        <time [attr.datetime]="execution.started_at">
          about {{execution.started_at | distanceInWordsToNow}} ago
        </time>
      </div>
    </div>
    <div class="ml-execution-metadata-cta-bar">
      <a [routerLink]="['../', execution.id]"
         queryParamsHandling="merge"
         title="View this execution"
         md-button>
        View
      </a>
      <button md-button (click)="stop(execution)" *ngIf="execution.status === ExecutionStatus.Executing && userService.userOwnsExecution(user, execution)">Stop</button>
      <button md-button (click)="restart.emit(execution)" *ngIf="execution.status != ExecutionStatus.Executing && execution.status != ExecutionStatus.Pristine && userService.userOwnsExecution(user, execution)">Restart</button>
    </div>
  </div>
</ng-container>

<ng-template #noExecutionMessage>
  <div class="ml-execution-metadata-no-execution-message">
    <md-icon class="ml-execution-metadata-no-execution-message-icon">info_outline</md-icon>
    <h4 class="ml-execution-metadata-no-execution-message-headline">No information available</h4>
    <p class="ml-execution-metadata-no-execution-message-text">Execute your lab and its execution data will show up here.</p>
  </div>
</ng-template>
