.ml-execution-metadata {
  padding: 0;
  margin: 1.2em;
}

.ml-execution-metadata-headline {
  margin: 0;
  padding: 1em 1.5em;
  line-height: 1;

  md-icon {
    vertical-align: -20%;
    font-size: 22px;
  }
}

.ml-execution-metadata-content {
  padding: 1em 1.5em;

  tr {
    &:first-child {
      td { margin-top: 0; }
    }
    td {
      vertical-align: top;
      margin-top: 0.5em;
      display: inline-block;
      &:first-child {
        width: 95px;
        font-weight: 500;
      }
    }
  }

  a {
    text-decoration: none;
    color: currentColor;
    border-bottom: 1px dotted currentColor;
  }
}

.ml-execution-metadata-user-info {
  img {
    width: 1.4em;
    border-radius: 50%;
  }
}

