<ml-toolbar>
  <ml-toolbar-logo color="primary"></ml-toolbar-logo>
  <ml-toolbar-cta-bar>
    <ml-toolbar-navigation>
      <a mat-button title="Documentation" href="https://docs.machinelabs.ai">Documentation</a>
      <a mat-button title="Blog" href="https://blog.machinelabs.ai">Blog</a>
    </ml-toolbar-navigation>
  </ml-toolbar-cta-bar>
  <ml-toolbar-menu [menuTrigger]="MenuTriggerType.LoginButton"></ml-toolbar-menu>
</ml-toolbar>
<div class="ml-landing-page-banner">
  <div class="ml-landing-page-promo-text">
    <h1>
      <strong>MachineLabs</strong> is a platform making Machine Learning <strong>explorable, sharable</strong> and <strong>accessible</strong> for everyone.
    </h1>
    <div class="ml-landing-page-cta-bar">
      <a title="Launch Editor" mat-raised-button color="primary" routerLink="/editor">Launch editor</a>
      <a href="https://docs.machinelabs.ai/guide/quickstart.html" color="primary" title="Quickstart" mat-raised-button>Learn more</a>
    </div>
  </div>
  <div class="ml-promo-image">
    <img src="/assets/images/machinelabs_ai.png" alt="MachineLabs Editor">
  </div>
</div>
<div class="patron">
  <p>Support us on our mission and become a Patron!</p>
  <a href="https://www.patreon.com/machinelabs">
    <img src="/assets/images/become_a_patron_button@2x.png" alt="Become a Patron">
  </a>
</div>
<main role="main" class="ml-landing-page-main">
  <div class="ml-landing-page-main-content">
    <div class="ml-explore-view-content">
      <header class="ml-explore-labs-header">
        <h1>Recent Labs</h1>
      </header>
      <ml-explore-labs></ml-explore-labs>
    </div>
    <div class="ml-supporters">
      <header class="ml-supporters-header">
        <h1 class="ml-supporters-headline">We are proudly supported by</h1>
      </header>
      <div class="ml-supporters-list">
        <div class="ml-supporters-list-item">
          <img class="shopware-logo" src="/assets/images/shopware_logo.svg" alt="Shopware Logo">
        </div>
        <div class="ml-supporters-list-item">
          <img class="thoughtram-logo" src="/assets/images/thoughtram_logo.svg" alt="thoughtram Logo">
        </div>
        <div class="ml-supporters-list-item">
          <img class="google-logo" src="/assets/images/google_logo.svg" alt="Google Logo">
        </div>
        <div class="ml-supporters-list-item">
          <img class="webtrix-logo" src="/assets/images/webtrix_logo.svg" alt="Webtrix Logo">
        </div>
      </div>
    </div>
  </div>
</main>
<ml-page-footer></ml-page-footer>
