@import '../../../node_modules/@angular/material/theming';

$padding-horizontal: 30px;
$max-width-promo-block: 690px;

:host {
  display: block;
  overflow: hidden;
}

ml-toolbar {
  box-shadow: none;
}

.ml-landing-page-banner {
  display: flex;
  justify-content: space-between;
}

.ml-landing-page-promo-text {
  align-self: center;
  max-width: 700px;
  padding-left: 6em;
  color: #fff;

  h1 {
    font-weight: 300;
  }

  [mat-raised-button] + [mat-raised-button] {
    margin-left: 14px;
    background: #39aa56;
  }
}

.ml-landing-page-cta-bar {
  margin-top: 2em;
  .mat-raised-button {
    font-size: 1.4em;
    padding: 0.2em 0.8em;
  }
}

.ml-explore-view-content {
  padding: 60px $padding-horizontal;
}

.ml-explore-labs-header {
  margin-bottom: 25px;

  h1 {
    margin: 0 0 10px 0;
  }
}

.ml-landing-page-main-content {
  max-width: 1200px;
  margin: auto;
}

.ml-promo-image {
  max-width: $max-width-promo-block;

  img {
    max-width: 100%;
    height: auto;
    transform: translateX($padding-horizontal);
  }
}

.patron {
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-weight: 600;
  padding: 1.5em;

  p {
    margin: 0;
    margin-bottom: 1em;
  }

  img {
    @include mat-elevation(2);
    border-radius: 2px;
    width: 130px;
    height: auto;
  }
}
