@import '../../../node_modules/@angular/material/theming';

@mixin ml-landing-page-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  ml-landing-page {

    .mat-toolbar.mat-primary {
      background-color: transparent;
    }

    .ml-landing-page-main {
      background: #fafafa;
      padding: 1em;
    }

    .ml-explore-labs-header {
      border-bottom: 5px solid mat-color($accent);
    }
  }
}
