<ml-toolbar>
  <ml-toolbar-cta-bar>
    <a routerLink="/editor" title="Launch Editor" mat-button><mat-icon>exit_to_app</mat-icon> Launch Editor</a>
  </ml-toolbar-cta-bar>
  <ml-toolbar-menu></ml-toolbar-menu>
</ml-toolbar>
<div class="ml-user-profile-main" role="main">
  <div class="ml-user-profile-header">
    <h1>{{user.displayName}}</h1>
  </div>
  <div class="ml-user-profile-info-bar">
    <img class="ml-user-profile-avatar" alt="Avatar of {{user.displayName}}" [src]="user.photoUrl">
    <button *ngIf="isAuthUser" mat-mini-fab color="accent" (click)="edit()"><mat-icon>edit</mat-icon></button>
    <p>{{user.bio}}</p>
  </div>
  <div class="ml-user-profile-content">
    <ng-container *ngIf="userLabs$ | async as userLabs; else loading">
      <ml-masonry *ngIf="userLabs.length; else noUserLabs">
        <ml-masonry-item *ngFor="let userLab of userLabs">
          <ml-lab-card
            [showUsername]="false"
            [showDescription]="true"
            [showTags]="true"
            [lab]="userLab.lab"
            [user]="userLab.user"
            [executions]="userLab.executions | async">
          </ml-lab-card>
        </ml-masonry-item>
      </ml-masonry>
      <ng-template #noUserLabs>
        <mat-card class="ml-user-profile-no-data-message">
          <mat-card-title>
            It appears that {{ isAuthUser ? 'you haven\'t' : user.displayName + ' hasn\'t'}} built any Labs yet.
          </mat-card-title>
          <mat-card-content>
            <img class="robot" src="/assets/images/robot_25_text.svg" alt="Robot">
            <a mat-raised-button *ngIf="isAuthUser" color="primary" routerLink="/editor" [queryParams]="{tpl: 'blank'}" title="Create a new lab">Get started!</a>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <div class="ml-explore-labs-spinner">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        Hold tight! Loading your labs...
      </div>
    </ng-template>
  </div>
</div>
<ml-page-footer></ml-page-footer>
