<div *ngIf="execution | async as execution" fxLayout>
  <div fxFlex [ngSwitch]="execution.status">
    <span *ngSwitchCase="ExecutionStatus.Executing" class="ml-status-message">Running...</span>
    <span *ngSwitchCase="ExecutionStatus.Finished" class="ml-status-message done"><mat-icon>done</mat-icon> Done</span>
    <span *ngSwitchCase="ExecutionStatus.Stopped" class="ml-status-message stopped"><mat-icon>info</mat-icon> Stopped</span>
    <span *ngSwitchCase="ExecutionStatus.Failed" class="ml-status-message errored"><mat-icon>highlight_off</mat-icon> Errored</span>
  </div>
  <div fxFlex>
    <mat-progress-bar
      *ngIf="execution.status === ExecutionStatus.Executing"
      color="accent"
      [bufferValue]="0"
      mode="indeterminate"></mat-progress-bar>
  </div>
</div>

