ml-dialog-content {
  width: 500px;
}

md-tab-group {
  margin-top: 1em;
}

md-form-field {
  width: 100%;
}

textarea {
  height: 100px;
  line-height: 1.4;
}

md-hint {
  width: 100%;
  text-align: right;
}

h4 {
  margin: 0;
}

