:host {
  display: block;
}

ml-dialog-content {
  width: 500px;
}

mat-tab-group {
  margin-top: 1em;
}

mat-form-field {
  width: 100%;
}

textarea {
  height: 100px;
  line-height: 1.4;
}

mat-hint {
  width: 100%;
  text-align: right;
}

h4 {
  margin: 0;
}

