:host {
  display: block;
  padding: 1em;

  /deep/ p {
    line-height: 1.4;
  }

  /deep/ ol, ul {
    margin: 0;
    padding: 0;
    margin-top: 2em;
  }

  /deep/ li {
    margin-left: 1em;
    margin-top: 2em;
  }
}

