<header class="ml-header">
  <h1 class="ml-header__logo">MachineLabs <span>Democratizing AI</span></h1>
  <ul class="ml-header__cta-list">
    <li class="ml-header__cta-list-item">
      <button class="ml-header__cta-button" (click)="runCode(editor.value)"><i class="material-icons">cached</i> Run</button>
    </li>
    <li class="ml-header__cta-list-item">
      <button class="ml-header__cta-button"><i class="material-icons">save</i> Save</button>
    </li>
  </ul>
</header>
<div role="main">
  <ml-panel panelTitle="Code">
    <ml-ace-editor #editor [value]="code" (valueChange)="log($event)"></ml-ace-editor>
  </ml-panel>
  <ml-panel panelTitle="Output">
    <ml-ace-editor [value]="output" [readOnly]="true" [showGutter]="false"></ml-ace-editor>
  </ml-panel>
</div>
