<div fx-layout="row">
  <div fx-flex="25" [hidden]="sidebarToggled" class="ml-sidebar">
    <div fx-layout="column" fx-flex-align="center" class="ml-sidebar__layout">
      <h1 class="ml-logo">MachineLabs <span>Democratizing AI</span></h1>
      <div fx-flex="80">
        <div class="ml-sidebar__tabs">
          <ul class="ml-sidebar__tabs-list" fx-layout="row">
            <li class="ml-sidebar__tabs-list-item" fx-flex="50">
              <button class="ml-sidebar__tabs-list__tab ml-sidebar__tabs-list__tab--selected">My Labs</button>
            </li>
            <li class="ml-sidebar__tabs-list-item" fx-flex="50">
              <button class="ml-sidebar__tabs-list__tab">Public Labs</button>
            </li>
          </ul>
          <div class="ml-sidebar__tabs-content">
            <ul class="ml-labs-list">
              <li class="ml-labs-list__item">
                <a href="#" class="ml-lab ml-lab--done">
                  <div class="ml-lab__status">
                    <i class="material-icons">check</i>
                  </div>
                  <div class="ml-lab__info">
                    <span class="ml-lab__name">Dolor sit amet</span>
                    <span class="ml-lab__id">#KX74P</span>
                  </div>
                  <span class="ml-lab__duration"><i class="material-icons">schedule</i> 10 min 30 sec</span>
                </a>
              </li>
              <li class="ml-labs-list__item ml-labs-list__item--selected ">
                <a href="#" class="ml-lab ml-lab--running">
                  <div class="ml-lab__status">
                    <i class="material-icons">cached</i>
                    <span class="ml-lab__status-label">Running</span>
                  </div>
                  <div class="ml-lab__info">
                    <span class="ml-lab__name">Dolor sit amet</span>
                    <span class="ml-lab__id">#KX74P</span>
                  </div>
                  <span class="ml-lab__duration"><i class="material-icons">schedule</i> 10 min 30 sec</span>
                </a>
              </li>
              <li class="ml-labs-list__item">
                <a href="#" class="ml-lab ml-lab--running">
                  <div class="ml-lab__status">
                    <i class="material-icons">cached</i>
                  </div>
                  <div class="ml-lab__info">
                    <span class="ml-lab__name">Dolor sit amet</span>
                    <span class="ml-lab__id">#KX74P</span>
                  </div>
                  <span class="ml-lab__duration"><i class="material-icons">schedule</i> 10 min 30 sec</span>
                </a>
              </li>
              <li class="ml-labs-list__item">
                <a href="#" class="ml-lab ml-lab--error">
                  <div class="ml-lab__status">
                    <i class="material-icons">close</i>
                  </div>
                  <div class="ml-lab__info">
                    <span class="ml-lab__name">Dolor sit amet</span>
                    <span class="ml-lab__id">#KX74P</span>
                  </div>
                  <span class="ml-lab__duration"><i class="material-icons">schedule</i> 10 min 30 sec</span>
                </a>
              </li>
              <li class="ml-labs-list__item">
                <a href="#" class="ml-lab ml-lab--done">
                  <div class="ml-lab__status">
                    <i class="material-icons">check</i>
                  </div>
                  <div class="ml-lab__info">
                    <span class="ml-lab__name">Dolor sit amet</span>
                    <span class="ml-lab__id">#KX74P</span>
                  </div>
                  <span class="ml-lab__duration"><i class="material-icons">schedule</i> 10 min 30 sec</span>
                </a>
              </li>
              <li class="ml-labs-list__item">
                <a href="#" class="ml-lab ml-lab--done">
                  <div class="ml-lab__status">
                    <i class="material-icons">check</i>
                  </div>
                  <div class="ml-lab__info">
                    <span class="ml-lab__name">Dolor sit amet</span>
                    <span class="ml-lab__id">#KX74P</span>
                  </div>
                  <span class="ml-lab__duration"><i class="material-icons">schedule</i> 10 min 30 sec</span>
                </a>
              </li>
              <li class="ml-labs-list__item">
                <a href="#" class="ml-lab ml-lab--done">
                  <div class="ml-lab__status">
                    <i class="material-icons">check</i>
                  </div>
                  <div class="ml-lab__info">
                    <span class="ml-lab__name">Dolor sit amet</span>
                    <span class="ml-lab__id">#KX74P</span>
                  </div>
                  <span class="ml-lab__duration"><i class="material-icons">schedule</i> 10 min 30 sec</span>
                </a>
              </li>
              <li class="ml-labs-list__item">
                <a href="#" class="ml-lab ml-lab--done">
                  <div class="ml-lab__status">
                    <i class="material-icons">check</i>
                  </div>
                  <div class="ml-lab__info">
                    <span class="ml-lab__name">Dolor sit amet</span>
                    <span class="ml-lab__id">#KX74P</span>
                  </div>
                  <span class="ml-lab__duration"><i class="material-icons">schedule</i> 10 min 30 sec</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div fx-flex>
      </div>
    </div>
  </div>
  <div fx-flex>
    <md-toolbar color="primary">
      <span class="ml-toolbar__fill-space"></span>
      <div class="ml-toolbar__cta-bar">
        <button md-raised-button md-button (click)="runCode(editor.value)"><md-icon>cached</md-icon> Run</button>
        <button md-raised-button md-button><md-icon>save</md-icon> Save</button>
        <button md-raised-button md-button><md-icon>exit_to_app</md-icon> Logout</button>
      </div>
    </md-toolbar>

    <div role="main">
      <div fx-layout="row">
        <ml-panel panelTitle="Code" fx-flex="50">
          <ml-ace-editor
            #editor
            [(value)]="code"
            mode="python"
          ></ml-ace-editor>
        </ml-panel>
        <ml-panel panelTitle="Output" fx-flex="50">
          <ml-ace-editor
            [value]="output"
            [readOnly]="true"
            [showGutter]="false"
            mode="sh"
          ></ml-ace-editor>
        </ml-panel>
      </div>
    </div>
  </div>
</div>
