textarea {
  width: 100%;
  height: 300px
}

output {
  width: 50%;
  height: 100%;
  float: right;
  display: block;
  background: hsl(0, 0%, 15%);
  color: #fff;
  overflow: scroll;
}

li {
  display:block;
}

