:host { display: block; }

.ml-logo {
  margin: 0;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}

.ml-sidebar {
  background-color: rgba(226, 226, 226, 1);
  border-right: 4px solid #fff;
}

.ml-sidebar__layout {
  height: 100%;
}

.ml-sidebar__tabs-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-bottom: 1px solid rgba(15, 19, 50, 1);
}

.ml-sidebar__tabs-list-item {

}

.ml-sidebar__tabs-list__tab {
  border: none;
  background-color: transparent;
  color: rgba(15, 19, 50, 1);
  display: block;
  font-size: 1em;
  width: 100%;
  padding: 0.5em 1em;

  &--selected,
  &:focus,
  &:hover,
  &:active {
    background-color: rgba(15, 19, 50, 1);
    color: rgba(255, 255, 255, 1);
    border-top-right-radius: 1em;
    cursor: pointer;
  }
}

.ml-toolbar {
  background-color: rgba(226, 226, 226, 1);
  padding: 1.2em;
}

.ml-toolbar__cta-list {
  margin: 0;
  text-align: right;
}

.ml-toolbar__cta-list-item {
  display: inline-block;
  margin-left: 1em;

  &:first-child {
    margin-left: 0;
  }
}

.ml-toolbar__cta-button {
  background-color: transparent;
  border: none;
  padding: 0.3em 0.5em;
  font-size: 1em;
  color: rgba(15, 19, 50, 1);

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: rgba(15, 19, 50, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0.2em;
  }

  .material-icons {
    vertical-align: -28%;
    font-size: 1.8em;
  }
}
