:host { display: block; }

.ml-logo {
  margin: 0;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}

.ml-sidebar {
  background-color: rgba(226, 226, 226, 1);
  border-right: 5px solid #fff;
}

.ml-sidebar__layout {
  height: 100%;
}

.ml-sidebar__tabs-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-bottom: 1px solid rgba(15, 19, 50, 1);
}

.ml-sidebar__tabs-list-item {

}

.ml-sidebar__tabs-list__tab {
  border: none;
  background-color: transparent;
  color: rgba(15, 19, 50, 1);
  display: block;
  font-size: 1em;
  width: 100%;
  padding: 0.5em 1em;

  &--selected,
  &:focus,
  &:hover,
  &:active {
    background-color: rgba(15, 19, 50, 1);
    color: rgba(255, 255, 255, 1);
    border-top-right-radius: 1em;
    cursor: pointer;
  }
}

.ml-labs-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.ml-labs-list__item {
  border-top: 2px solid rgba(208, 208, 210, 1);

  &--selected {
    border-left: 10px solid rgba(182, 58, 60, 1);
    border-top: none;
    margin-right: -0.3em;
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 2px solid rgba(208, 208, 210, 1);
  }
}

.ml-labs-list__item--selected + .ml-labs-list__item {
  border-top: none;
}

.ml-lab {
  font-size: 1em;
  position: relative;
  background-color: rgba(226, 226, 226, 1);
  display: block;
  text-decoration: none;

  .ml-labs-list__item--selected & {
    background-color: rgba(215, 215, 215, 1);
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: rgba(208, 208, 208, 1);

    .ml-labs-list__item--selected & {
      background-color: rgba(208, 208, 208, 1);
    }
  }
}

.ml-lab__status {
  display: inline-block;
  text-align: center;

  .material-icons {
    vertical-align: middle;
    padding: 0.2em;
    font-size: 2.5em;
    font-weight: bold;

    .ml-lab--done & {
      color: rgba(132, 160, 77, 1);
    }

    .ml-lab--running & {
      color: rgba(83, 83, 83, 1);
    }

    .ml-lab--error & {
      color: rgba(182, 58, 60, 1);
    }
  }

  .ml-labs-list__item--selected & {
    margin-left: 2em;

    .material-icons {
      display: block;
      font-size: 3.5em;
      padding: 0.1em;
    }
  }
}

.ml-lab__status-label {
  text-transform: uppercase;
  color: rgba(159, 159, 159, 1);
  font-size: 0.9em;
}

.ml-lab__info {
  display: inline-block;
  vertical-align: -60%;

  .ml-labs-list__item--selected & {
    vertical-align: top;
    margin-top: 0.5em;
    margin-left: 2em;
  }
}

.ml-lab__name {
  font-size: 1em;
  font-weight: bold;
  color: rgba(86, 86, 86, 1);
  display: block;

  .ml-labs-list__item--selected & {
    color: rgba(15, 19, 50, 1);
    font-size: 1.2em;
  }
}

.ml-lab__id {
  color: rgba(159, 159, 159, 1);
  font-size: 0.8em;
  display: block;

  .ml-labs-list__item--selected & {
    color: rgba(15, 19, 50, 1);
  }
}

.ml-lab__duration {
  font-size: 0.8em;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  right: 1.5em;
  top: 1.6em;

  .material-icons {
    font-size: 1.2em;
    vertical-align: -20%;
  }

  .ml-labs-list__item--selected & {
    bottom: 1.1em;
    left: 10.5em;
    top: initial;
  }
}

.ml-toolbar__fill-space {
  flex: 1 auto;
}

.ml-toolbar__cta-bar {
  [md-button] {
    margin-left: 0.5em;

    &:first-child {
      margin-left: 0;
    }
  }
}
