:host {
  display: block;
  height: 100%;
}

md-sidenav { width: 350px; }

md-sidenav-container { height: 100% }

.ml-footer {
  height: 48px;
  width: 100%;
  border: rgba(137, 170, 251, 0.27) 1px solid;
  padding: 4px;
  font-size:  0.8em;
}

.ml-footer__status {
  width: 500px;
  height: 20px;
  margin-right: 12em;
}

.elevated {
  background-color: #2196f3;
  color : white;
  line-height: 12px;
  height: 22px;
  vertical-align: middle;
  margin: 10px;
  min-width : 60px;
}

.mat-slide-toggle {
  margin-left: 20px;
}
