<ng-container *ngIf="showActionButtons && level === 0">
  <div class="ml-file-tree-title">
    Files
    <div class="ml-file-tree-cta-bar">
      <button
        class="ml-file-tree-item-button add"
        (click)="openAddFileNameDialog($event, directory)"
        matTooltip="Add file"
        matTooltipPosition="below">
          <mat-icon>note_add</mat-icon>
      </button>
      <button
        class="ml-file-tree-item-button add-folder"
        (click)="openAddFolderNameDialog($event, directory)"
        matTooltip="Add folder"
        matTooltipPosition="below">
          <mat-icon>create_new_folder</mat-icon>
      </button>
    </div>
  </div>
</ng-container>

<ul class="ml-file-tree">
  <li
    class="ml-file-tree-item"
    *ngFor="let fileOrDirectory of directory.contents"
    (click)="select($event, fileOrDirectory)">

    <ml-zippy [collapsed]="fileOrDirectory.clientState.collapsed" [collapsable]="fileOrDirectory.contents">
      <div class="ml-file-tree-item-title" ml-zippy-title [ngClass]="{ selected: fileOrDirectory.clientState?.selected }">
        <ng-template #fileTreeItemName>
          <mat-icon>description</mat-icon> {{fileOrDirectory.name}}

          <div class="ml-file-tree-item__action-buttons" *ngIf="showActionButtons">
            <button class="ml-file-tree-item-button edit"
              matTooltip="Change filename"
              matTooltipPosition="below"
              *ngIf="isEditable(fileOrDirectory)"
              (click)="openEditFileNameDialog($event, directory, fileOrDirectory)">
                <mat-icon>create</mat-icon>
            </button>

            <button class="ml-file-tree-item-button delete"
              *ngIf="isRemovable(fileOrDirectory)"
              matTooltip="Delete file"
              matTooltipPosition="below"
              (click)="deleteFileOrDirectory($event, fileOrDirectory)">
                <mat-icon>highlight_off</mat-icon>
            </button>
          </div>
        </ng-template>

        <ng-container *ngIf="fileOrDirectory.contents; else: fileTreeItemName;">
          {{fileOrDirectory.name}}

          <div class="ml-file-tree-item__action-buttons">
            <button
              class="ml-file-tree-item-button add"
              (click)="openAddFileNameDialog($event, fileOrDirectory)"
              matTooltip="Add file"
              matTooltipPosition="below">
                <mat-icon>note_add</mat-icon>
            </button>
            <button
              class="ml-file-tree-item-button add-folder"
              (click)="openAddFolderNameDialog($event, fileOrDirectory)"
              matTooltip="Add folder"
              matTooltipPosition="below">
                <mat-icon>create_new_folder</mat-icon>
            </button>
            <button
              class="ml-file-tree-item-button edit"
              (click)="openEditFolderNameDialog($event, directory, fileOrDirectory)"
              matTooltip="Edit folder"
              matTooltipPosition="below">
                <mat-icon>create</mat-icon>
            </button>
            <button
              class="ml-file-tree-item-button delete"
              (click)="deleteFileOrDirectory($event, fileOrDirectory)"
              matTooltip="Delete folder"
              matTooltipPosition="below">
                <mat-icon>highlight_off</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
      <div ml-zippy-content>
        <ml-file-tree
          [directory]="fileOrDirectory"
          *ngIf="fileOrDirectory.contents"
          [showActionButtons]="showActionButtons">
        </ml-file-tree>
      </div>
    </ml-zippy>
  </li>
</ul>

