:host {
  display: block;
  font-weight: 400;
}

.ml-file-tree__cta-bar {
  padding: 1em 1.2em;
}

.ml-file-tree-cta-bar {
  padding: 0.8em 1.2em;
}

.ml-file-tree-cta {
  font-size: 0.9em;

  md-icon {
    font-size: 1.2em;
    vertical-align: -22%;
    height: 18px;
    width: 18px;
  }
}

