<ng-container *ngIf="showActionButtons && level === 0">
  <div class="ml-file-tree-title">
    Files
    <div class="ml-file-tree-cta-bar">
      <button
        class="ml-file-tree-item-button add"
        (click)="openAddFileNameDialog($event, directory)"
        mdTooltip="Add file"
        mdTooltipPosition="below">
          <md-icon>note_add</md-icon>
      </button>
      <button
        md-u
        class="ml-file-tree-item-button add-folder"
        (click)="openAddFolderNameDialog($event, directory)"
        mdTooltip="Add folder"
        mdTooltipPosition="below">
          <md-icon>create_new_folder</md-icon>
      </button>
    </div>
  </div>
</ng-container>

<ul class="ml-file-tree">
  <li
    class="ml-file-tree-item"
    *ngFor="let fileOrDirectory of directory.contents"
    (click)="select($event, fileOrDirectory)">

    <ml-zippy [collapsed]="fileOrDirectory.clientState.collapsed" [collapsable]="fileOrDirectory.contents">
      <div class="ml-file-tree-item-title" ml-zippy-title [ngClass]="{ selected: fileOrDirectory.clientState?.selected }">
        <ng-template #fileTreeItemName>
          <md-icon>description</md-icon> {{fileOrDirectory.name}}

          <div class="ml-file-tree-item__action-buttons" *ngIf="showActionButtons">
            <button class="ml-file-tree-item-button edit"
              mdTooltip="Change filename"
              mdTooltipPosition="below"
              *ngIf="isEditable(fileOrDirectory)"
              (click)="openEditFileNameDialog($event, directory, fileOrDirectory)">
                <md-icon>create</md-icon>
            </button>

            <button class="ml-file-tree-item-button delete"
              *ngIf="isRemovable(fileOrDirectory)"
              mdTooltip="Delete file"
              mdTooltipPosition="below"
              (click)="deleteFileOrDirectory($event, fileOrDirectory)">
                <md-icon>highlight_off</md-icon>
            </button>
          </div>
        </ng-template>

        <ng-container *ngIf="fileOrDirectory.contents; else: fileTreeItemName;">
          {{fileOrDirectory.name}}

          <div class="ml-file-tree-item__action-buttons">
            <button
              class="ml-file-tree-item-button add"
              (click)="openAddFileNameDialog($event, fileOrDirectory)"
              mdTooltip="Add file"
              mdTooltipPosition="below">
                <md-icon>note_add</md-icon>
            </button>
            <button
              class="ml-file-tree-item-button add-folder"
              (click)="openAddFolderNameDialog($event, fileOrDirectory)"
              mdTooltip="Add folder"
              mdTooltipPosition="below">
                <md-icon>create_new_folder</md-icon>
            </button>
            <button
              class="ml-file-tree-item-button edit"
              (click)="openEditFolderNameDialog($event, directory, fileOrDirectory)"
              mdTooltip="Edit folder"
              mdTooltipPosition="below">
                <md-icon>create</md-icon>
            </button>
            <button
              class="ml-file-tree-item-button delete"
              (click)="deleteFileOrDirectory($event, fileOrDirectory)"
              mdTooltip="Delete folder"
              mdTooltipPosition="below">
                <md-icon>highlight_off</md-icon>
            </button>
          </div>
        </ng-container>
      </div>
      <div ml-zippy-content>
        <ml-file-tree
          [directory]="fileOrDirectory"
          *ngIf="fileOrDirectory.contents"
          [showActionButtons]="showActionButtons">
        </ml-file-tree>
      </div>
    </ml-zippy>
  </li>
</ul>

