@import '../../../../node_modules/@angular/material/theming';

@mixin ml-toolbar-menu-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  ml-toolbar-menu {
    .mat-raised-button {
      color: mat-color($primary);
    }
  }
}

