<ml-toolbar>
  <ml-toolbar-logo></ml-toolbar-logo>
  <ml-toolbar-cta-bar>
    <a routerLink="/editor" title="Launch Editor" mat-button>
      <mat-icon>exit_to_app</mat-icon> Launch Editor</a>
  </ml-toolbar-cta-bar>
  <ml-toolbar-menu></ml-toolbar-menu>
</ml-toolbar>
<div class="ml-handshake-main">
  <mat-card>
    <mat-card-content>
      <h4>You are about to login to the MachineLabs command-line interface.</h4>
      <div class="ml-hint">
          Please only accept this if you have initiated the login request and make sure the code matches the one in your terminal.
      </div>
      <ml-console>
        <span ml-console-cmd>ml login<br>
          <span class="cmd-info">Opening default browser to login. Please only accept the request if the ID shown in the browser matches:</span> <span class="auth-hash">{{ handshakeId }}</span>
        </span>
      </ml-console>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" mat-button (click)="confirm(handshakeId)">Login</button>
      <button mat-raised-button mat-button (click)="reject(handshakeId)">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
<ml-page-footer></ml-page-footer>
