<ml-toolbar>
  <ml-toolbar-cta-bar>
    <a routerLink="/editor" title="Launch Editor" mat-button><mat-icon>exit_to_app</mat-icon> Launch Editor</a>
  </ml-toolbar-cta-bar>
  <ml-toolbar-menu></ml-toolbar-menu>
</ml-toolbar>
<div class="ml-handshake-main">
  <div class="ml-handshake-content">
      <ml-dialog-header>MachineLabs CLI wants to login as you</ml-dialog-header>
      <ml-dialog-content>
        <p>The MachineLabs CLI wants to login as you. Please do only accept this if:</p>
        <ul>
          <li>You initiated this by running <strong>ml login</strong> on your command line</li>
          <li>You can see the code <strong>{{handshakeId}}</strong> printed on your command line</li>
        </ul>
      </ml-dialog-content>
      <ml-dialog-cta-bar>
        <button mat-raised-button mat-button (click)="confirm(handshakeId)">Yes, that's me</button>
        <button mat-raised-button mat-button (click)="reject(handshakeId)">No, reject this</button>
      </ml-dialog-cta-bar>
  </div>
</div>
<ml-page-footer></ml-page-footer>
