<ml-toolbar>
  <ml-toolbar-cta-bar>
    <a routerLink="/editor" title="Launch Editor" mat-button>
      <mat-icon>exit_to_app</mat-icon> Launch Editor</a>
  </ml-toolbar-cta-bar>
  <ml-toolbar-menu></ml-toolbar-menu>
</ml-toolbar>
<div class="ml-handshake-main">
  <mat-card>
    <mat-card-content>
      <h4>You are about to login to the MachineLabs command-line interface.</h4>
      <div class="ml-hint">
          Please only accept this if you have initiated the login request and make sure the code matches the one in your terminal.
      </div>
      <div class="ml-console">
        <img src="../../assets/images/window_controls.svg" alt="Window controls">
        <div class="ml-console-content">
          <span class="cmd">ml login</span>
          <span class="cmd cmd--info">
            Opening the default browser to login. Please only accept the request if the ID shown in the browser matches: <span class="auth-hash">{{ handshakeId }}</span>
          </span>
          <span class="cmd cmd--current"></span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" mat-button (click)="confirm(handshakeId)">Login</button>
      <button mat-raised-button mat-button (click)="reject(handshakeId)">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
<ml-page-footer></ml-page-footer>
