:host {
  display: block;
}

.ml-explore-labs-spinner {
  display: flex;
  align-items: center;

  mat-progress-spinner {
    margin-right: 0.5em;
    width: 24px !important;
    height: 24px !important;
  }
}
