md-form-field {
  width: 500px;
}

textarea {
  height: 100px;
  line-height: 1.4;
}

md-hint {
  width: 100%;
  text-align: right;
}

.ml-edit-user-profile-dialog-no-name-message {
  border-radius: 0.2em;
  padding: 1em;

  md-icon {
    vertical-align: -25%;
  }
}
