:host {
  padding: 1em;
  display: block;
  width: 100%;
}

md-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

md-cell {
  md-icon {
    vertical-align: -25%;
    color: #607d8b;
    font-size: 1.7em;
    width: initial;
    height: initial;
  }

  a md-icon {
    vertical-align: -38%;
  }
}

[md-icon-button][disabled] {
  md-icon {
    opacity: 0.2;
  }
}

.mat-column-name {
  display: inline-block;
  min-width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-actions {
  display: flex;
  min-width: 30%;
}

