:host {
  display: block;
  z-index: 5;
  position: relative;
  box-shadow: 0 -1px 12px rgba(0,0,0,.5);
}

.ml-toolbar-layout {
  padding-right: 20px;
  padding-left: 20px;
}

.ml-login-avatar {
  border-radius: 50%;
  width: 2.5em;
}

.ml-toolbar-cta-bar {
  ::ng-deep [mat-button],
  ::ng-deep [mat-icon-button] {
    margin-left: 0.2em;

    &:first-child {
      margin-left: 0;
    }
  }
}
