<mat-toolbar color="primary">
  <mat-toolbar-row class="ml-toolbar-layout">
    <div class="ml-toolbar-logo">
      <a title="MachineLabs Startpage" routerLink="/">
        <picture>
          <source srcset="/assets/images/machinelabs_logo_white.svg" media="(min-width: 768px)">
          <img src="/assets/images/machinelabs_icon_white.svg" alt="MachineLabs, Inc.">
        </picture>
      </a>
    </div>
    <div class="ml-toolbar-content">
      <ng-content select="ml-toolbar-content"></ng-content>
    </div>
    <div class="ml-toolbar-cta-bar">
      <ng-content select="ml-toolbar-cta-bar"></ng-content>
    </div>
    <div class="ml-toolbar-menu">
      <ng-content select="ml-toolbar-menu, [ml-toolbar-menu]"></ng-content>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="ml-toolbar-sub-row">
    <ng-content select="ml-toolbar-sub-row, [ml-toolbar-sub-row]"></ng-content>
  </mat-toolbar-row>
</mat-toolbar>
