@import '../../mixins';

:host {
  display: block;
  z-index: 5;
  position: relative;
  box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.5);
}

.ml-toolbar-logo-slot {
  padding-bottom: 0.2em;
}

.ml-toolbar-content-slot {
  flex: 1;
}

.ml-toolbar-cta-bar-slot {
  flex: 1;
  text-align: right;
}

.ml-toolbar-sub-row-slot {
  height: 40px;
  padding: 0;
}

@include TabletLandscapeUp {
  .ml-toolbar-layout {
    padding: 0 28px;
  }

  .ml-toolbar-sub-row-slot {
    display: none;
  }
}
