@import '../../mixins';

:host {
  display: block;
  z-index: 5;
  position: relative;
  box-shadow: 0 -1px 12px rgba(0,0,0,.5);
}

.ml-toolbar-logo {
  padding-bottom: 0.2em;
  img {
    height: 28px;
  }
}

.ml-toolbar-content {
  flex: 1;
}

.ml-toolbar-cta-bar {
  flex: 1;
  text-align: right;
}

@include tablet {

  .ml-toolbar-logo {
    img {
      height: 22px;
    }
  }
}

@include desktop {
  .ml-toolbar-layout {
    padding: 0 28px;
  }
}

