<ml-dialog-header>Request <strong>your beta invite</strong></ml-dialog-header>
<ml-dialog-content>
  <p>Hoppla, looks like you don't have an account yet!</p>
  <p><strong>MachineLabs</strong> is currently in <strong>private beta</strong>. Without an account you can only view existing executions. To run your own experiments you have to <strong>get an invite</strong> with one of the following options:</p>

  <ol>
    <li><p><strong>Support Kickstarter for instant invite</strong> - Support our Kickstarter campaign by backing the project and get immediate access to the platform.</p></li>
    <li><p><strong>Request private invite</strong> - Alternatively, you can request an invite. Simply tell us a little bit about your Machine Learning background and why you want to use MachineLabs for your projects.</p></li>
  </ol>
</ml-dialog-content>
<ml-dialog-cta-bar>
  <a md-button href="#" title="Support our Kickstarter campaign!" target="_blank"><md-icon>exit_to_app</md-icon> Support Kickstarter</a> or <a md-button href="#" title="Request an invite for our private beta!" target="_blank"><md-icon>send</md-icon> Request invite</a>
</ml-dialog-cta-bar>
