@import '../node_modules/@angular/material/theming';

@include mat-core();

$ml-app-primary: mat-palette($mat-light-blue);
$ml-app-accent: mat-palette($mat-orange, A200, A100, A400);

$ml-app-warn: mat-palette($mat-red);

$ml-app-theme: mat-light-theme($ml-app-primary, $ml-app-accent, $ml-app-warn);

@include angular-material-theme($ml-app-theme);

