@import '../node_modules/@angular/material/theming';

@import 'app/shared/dialog/dialog-theme.scss';
@import 'app/lab-editor/editor-footer/editor-footer-theme.scss';
@import 'app/lab-editor/execution-status/execution-status-theme.scss';
@import 'app/lab-editor/execution-metadata/execution-metadata-theme.scss';
@import 'app/lab-editor/panel/panel-theme.scss';
@import 'app/lab-editor/file-tree/file-tree-theme.scss';
@import 'app/user-profile/user-profile-theme.scss';

@include mat-core();

$ml-app-primary: mat-palette($mat-light-blue);
$ml-app-accent: mat-palette($mat-orange, A200, A100, A400);

$ml-app-warn: mat-palette($mat-red);

$ml-app-theme: mat-light-theme($ml-app-primary, $ml-app-accent, $ml-app-warn);


@mixin machine-labs-theme($theme) {
  @include ml-editor-footer-theme($theme);
  @include ml-execution-status-theme($theme);
  @include ml-execution-metadata-theme($theme);
  @include ml-dialog-theme($theme);
  @include ml-panel-theme($theme);
  @include ml-file-tree-theme($theme);
  @include ml-user-profile-theme($theme);
}

@include angular-material-theme($ml-app-theme);
@include machine-labs-theme($ml-app-theme);

