*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Open Sans Pro', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  border: none;
  vertical-align: middle;
}


.ace_editor {
  height: 680px;
  width: 100%;
}

.ace_gutter {
  // we actually don't want to use !important
  // here but the only alternative is to make
  // the selector more specific by adding the
  // theme class e.g. `.ace-github .ace_cutter`
  background-color: transparent!important;
}
