<ml-file-preview-dialog-toolbar *ngIf="!loading">
  <ng-container left>
    <button mat-icon-button (click)="dialogRef.close()">
      <mat-icon class="back">keyboard_arrow_left</mat-icon>
    </button>
    <mat-icon>description</mat-icon>
    <span>{{ outputFile.name }}</span>
  </ng-container>
  <ng-container right>
    <a mat-icon-button [attr.download]="outputFile.name" target="_blank" [href]="outputFile.download_url"
      title="Download file">
      <mat-icon>file_download</mat-icon>
    </a>
  </ng-container>
</ml-file-preview-dialog-toolbar>

<ml-dialog-content
  [@slideContent]="animationState"
  (@slideContent.start)="onAnimationStart($event)"
  (@slideContent.done)="onAnimationDone($event)">

  <div class="ml-spinner-wrapper" *ngIf="loading && !error">
    <mat-spinner mode="indeterminate" ></mat-spinner>
  </div>

  <img [@fade]="loading ? 'fadeOut' : 'fadeIn'" #image [src]="outputFile.download_url"
    (load)="onLoad($event)" (error)="onError($event)" alt="Output file">

  <ml-dialog-error *ngIf="error">
    <mat-icon>error_outline</mat-icon>
    Bummer! An error occured while loading the image.
  </ml-dialog-error>
</ml-dialog-content>