<ml-editor-layout>
  <ml-editor-layout-header>
    <ml-embedded-editor-toolbar
      [lab]="lab"
      (replay)="listen()"
      (open)="openInApp()">
    </ml-embedded-editor-toolbar>
  </ml-editor-layout-header>
  <ml-editor-layout-nav-bar>
    <div md-tab-nav-bar>
      <a mdTabLink (click)="editorService.selectEditorTab()" [active]="editorService.editorTabActive()">Editor</a>
      <a mdTabLink (click)="editorService.selectConsoleTab()" [active]="editorService.consoleTabActive()">Console</a>
      <a mdTabLink (click)="editorService.selectOutputsTab()" [active]="editorService.outputsTabActive()">Outputs</a>
    </div>
  </ml-editor-layout-nav-bar>
  <ml-editor-layout-main>
    <ml-editor-layout-panels>
      <ml-editor-layout-panel [class.hidden]="!editorService.editorTabActive()">
        <ml-editor-layout-panel-cta-bar>
          <button md-icon-button mdTooltip="Toogle file tree" mdTooltipPosition="right" (click)="fileTreeSidebar.toggle()"><md-icon>description</md-icon></button>
        </ml-editor-layout-panel-cta-bar>
        <md-drawer-container>
          <md-drawer mode="overlay" #fileTreeSidebar>
            <ml-file-tree
              [directory]="{ name: '', contents: editorService.lab.directory }"
              [mandatoryFiles]="['main.py']"
              [showActionButtons]="false"></ml-file-tree>
          </md-drawer>
          <ml-ace-editor [value]="activeFile.content" mode="python">
          </ml-ace-editor>
        </md-drawer-container>
      </ml-editor-layout-panel>
      <ml-editor-layout-panel [class.hidden]="!editorService.consoleTabActive()">
        <ml-xterm
          #console
          [scrollback]="5000"
          [messages]="output">
        </ml-xterm>
      </ml-editor-layout-panel>
      <ml-editor-layout-panel [class.hidden]="!editorService.outputsTabActive()">
        <ml-file-outputs [executionId]="executionId"></ml-file-outputs>
      </ml-editor-layout-panel>
    </ml-editor-layout-panels>
  </ml-editor-layout-main>
</ml-editor-layout>
