<mat-toolbar>
  <mat-icon>history</mat-icon> <span>Executions</span>
</mat-toolbar>
<mat-accordion>
  <ng-container *ngFor="let execution of executions">
    <ng-container *ngIf="execution | async as execution">
      <mat-expansion-panel
        class="ml-execution-panel"
        *ngIf="!execution.hidden"
        #executionListItem="matExpansionPanel"
        [expanded]="execution.id == activeId"
        [ngClass]="{
          finished: execution.status == ExecutionStatus.Finished,
          executing: execution.status == ExecutionStatus.Executing,
          stopped: execution.status == ExecutionStatus.Stopped,
          failed: execution.status == ExecutionStatus.Failed,
          selected: execution.id == activeId
        }">
        <mat-expansion-panel-header class="ml-execution-panel-header">
          <span>
          <ng-container [ngSwitch]="execution.status">
            <mat-icon *ngSwitchCase="ExecutionStatus.Finished">done</mat-icon>
            <mat-progress-spinner
              color="accent"
              *ngSwitchCase="ExecutionStatus.Executing"
              mode="indeterminate"></mat-progress-spinner>
            <mat-icon *ngSwitchCase="ExecutionStatus.Stopped">info</mat-icon>
            <mat-icon *ngSwitchCase="ExecutionStatus.Failed">block</mat-icon>
          </ng-container>
          {{ execution.name || '#' + execution.id }}
          </span>
        </mat-expansion-panel-header>
        <div class="ml-execution-panel-content">
          <ng-container *ngIf="execution.finished_at">
            <div class="ml-execution-panel-info">
              <mat-icon>schedule</mat-icon>
              <time [attr.datetime]="execution.finished_at">
                Ran for {{execution.started_at | distanceInWordsStrict: execution.finished_at}}
              </time>
            </div>
            <div class="ml-execution-metadata-info">
              <mat-icon>update</mat-icon>
              <time [attr.datetime]="execution.started_at">
                {{execution.started_at | distanceInWordsToNow}} ago
              </time>
            </div>
          </ng-container>
          <div *ngIf="execution.status === ExecutionStatus.Executing" class="ml-execution-metadata-info">
            <mat-icon>update</mat-icon>
            <ml-duration-tracker [startDate]="execution.started_at" [pause]="!executionListItem.expanded"></ml-duration-tracker>
          </div>
          <div class="ml-execution-metadata-info hardware-type">
            <mat-icon>memory</mat-icon>
            {{ execution.hardware_type || '-' }}
          </div>
        </div>
        <div class="ml-execution-panel-cta-bar">
          <button mat-button (click)="view.emit(execution)" *ngIf="execution.id !== activeId">View</button>
          <button mat-button (click)="stop(execution)" *ngIf="execution.status === ExecutionStatus.Executing && userService.userOwnsExecution(user, execution)">Stop</button>
          <button mat-button (click)="restart.emit(execution)" *ngIf="execution.status != ExecutionStatus.Executing && execution.status != ExecutionStatus.Pristine && userService.userOwnsExecution(user, execution)">Restart</button>

          <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="userService.userOwnsExecution(user, execution)">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu" yPosition="above">
            <button mat-menu-item (click)="remove(execution)" *ngIf="execution.status != ExecutionStatus.Executing && execution.id != activeId && userService.userOwnsExecution(user, execution)">Remove</button>
            <button mat-menu-item (click)="showEditExecutionModal(execution)" *ngIf="userService.userOwnsExecution(user, execution)">Edit</button>
  </mat-menu>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</mat-accordion>

