<footer class="ml-page-footer">
  <div class="ml-page-footer-container">
    <div class="ml-page-footer-sections">
      <section class="ml-page-footer-section">
        <h4>Get Started</h4>
        <ul>
          <li><a href="https://docs.machinelabs.ai/guide/quickstart.html" title="Quickstart">Quickstart</a></li>
          <li><a href="https://course.machinelabs.ai" title="Machine Learning Online Course">Online course</a></li>
          <li><a href="https://docs.machinelabs.ai/guide/using-the-cli.html" title="Using the CLI">Using the CLI</a></li>
        </ul>
      </section>
      <section class="ml-page-footer-section">
        <h4>Support</h4>
        <ul>
          <li><a href="https://docs.machinelabs.ai" title="Documentation">Documentation</a></li>
          <li><a href="https://docs.machinelabs.ai/guide/faqs.html" title="FAQ">FAQ</a></li>
          <li><a href="https://docs.machinelabs.ai/examples" title="Examples">Examples</a></li>
        </ul>
      </section>
      <section class="ml-page-footer-section">
        <h4>Company</h4>
        <ul>
          <li><a href="https://docs.machinelabs.ai/guide/index.html#What-is-MachineLabs" title="About">About</a></li>
          <li><a href="https://blog.machinelabs.ai" title="Blog">Blog</a></li>
          <li><a href="https://patreon.com/machinelabs" title="MachineLabs on Patreon">Support MachineLabs on Patreon</a></li>
          <li><a href="/terms-of-service" title="Terms of Service">Terms of Service</a></li>
        </ul>
      </section>
      <section class="ml-page-footer-section">
        <img alt="Robot" src="/assets/images/robot_6.svg" class="ml-page-footer-robot">
      </section>
    </div>
    <p class="ml-page-footer-copyright">&copy; 2018 MachineLabs Inc. All rights reserved.</p>
  </div>
</footer>

