.mat-toolbar {
  padding: 0px;
}

.mat-raised-button {
  color: #3f51b5;
}

.ml-login-avatar {
  border-radius: 50%;
  width: 2.5em;
}

.ml-logo {
  margin: 0;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}

.mat-button {
  padding :0;
}

.padded {
  padding-left:50px; padding-right:20px;
}
