:host {
  display: block;
  background: #fff;
  border-right: 5px solid rgb(241, 246, 250);
  height: 100%;

  &:first-child {
    border-left: none;
  }
}

.ml-panel__title {
  color: #444;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  padding: 0.8em 2.4em;
  border-bottom: 1px solid rgb(244, 245, 247);
}
