<ml-toolbar>
  <ml-toolbar-logo></ml-toolbar-logo>
  <ml-toolbar-cta-bar>
    <a routerLink="/editor" title="Launch Editor" md-button><md-icon>exit_to_app</md-icon> Launch Editor</a>
  </ml-toolbar-cta-bar>
  <ml-toolbar-menu [user]="user"></ml-toolbar-menu>
</ml-toolbar>

<div role="main">
  <div fxLayout class="ml-user-profile">

    <div fxFlex="30" class="ml-user-profile-details">
      <md-card>
        <md-card-content>
          <img class="ml-user-profile-avatar" alt="Avatar of {{user.displayName}}" [src]="user.photoUrl">
          <h3>{{user.displayName}}</h3>
        </md-card-content>
      </md-card>
    </div>

    <div fxFlex class="ml-user-profile-content">
      <div class="ml-user-profile-content-action-bar">
        <a color="primary" md-button routerLink="/editor" [queryParams]="{tpl: 'blank'}" title="Create new lab"><md-icon>add</md-icon> Create lab</a>
      </div>

      <ul class="ml-user-profile-lab-list" *ngIf="labs.length; else noLabsMessage">
        <li *ngFor="let lab of labs">
          <md-card>
            <md-card-title>{{lab.name}}</md-card-title>
            <md-card-content>{{lab.description || 'This lab has no description.' | words:30}}</md-card-content>
            <ml-tag-list [tags]="lab.tags"></ml-tag-list>
            <md-card-actions class="ml-user-profile-lab-actions">
              <a md-button title="Open this lab in editor" [routerLink]="['/editor', lab.id]">OPEN IN EDITOR</a>
            </md-card-actions>
          </md-card>
        </li>
      </ul>
      <ng-template #noLabsMessage>
        <p class="ml-user-profile-no-labs-msg">Hmmm...No sparks of genious here just yet, but no worries. We know you can do it, so go ahead and <a routerLink="/editor" [queryParams]="{tpl: 'blank'}" title="Create a new lab">get started</a>!</p>
      </ng-template>
    </div>
  </div>
</div>

