@import '../../../node_modules/@angular/material/theming';

@mixin ml-user-profile-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .ml-user-profile-header {
    background: rgb(59, 59, 68);
    background: rgb(100, 109, 141);
    color: mat-color($primary, default-contrast);
  }

  .ml-user-profile-info-bar {
    background: rgb(59, 59, 68);
    color: mat-color($primary, default-contrast);
  }

  .ml-user-profile-footer {
    background: rgb(59, 59, 68);
    color: mat-color($primary, default-contrast);
  }
}

