<ml-toolbar>
  <ml-toolbar-logo></ml-toolbar-logo>
  <ml-toolbar-menu [user]="user"></ml-toolbar-menu>
</ml-toolbar>

<div role="main">
  <div fxLayout class="ml-user-profile">

    <div fxFlex="30" class="ml-user-profile__details">
      <img class="ml-user-profile__details-avatar" alt="Avatar of {{user.displayName}}" [src]="user.photoUrl">
      <h3>{{user.displayName}}</h3>
      <a md-button routerLink="/editor" [queryParams]="{tpl: 'blank'}" title="Create new lab"><md-icon>add</md-icon> Create lab</a>
    </div>

    <div fxFlex>
      <ul class="ml-user-profile__lab-list" *ngIf="labs.length; else noLabsMessage">
        <li *ngFor="let lab of labs">
          <md-card>
            <md-card-title>
              <a title="{{lab.name}}" [routerLink]="['/editor', lab.id]">{{lab.name}}</a>
            </md-card-title>
            <md-card-content>{{lab.description | words:30}}</md-card-content>
            <ml-tag-list [tags]="lab.tags"></ml-tag-list>
          </md-card>
        </li>
      </ul>
      <ng-template #noLabsMessage>
        <p class="ml-user-profile__no-labs-msg">Hmmm...No sparks of genious here just yet, but no worries. We know you can do it, so go ahead and <a routerLink="/editor" [queryParams]="{tpl: 'blank'}" title="Create a new lab">get started</a>!</p>
      </ng-template>
    </div>
</div>

